# Database credentials. Be sure to URL-encode any values containing special characters
# Format: mysql://username:password@host:port/database
DATABASE_URL=mysql://<%= @database["username"] %>:<%= @database["password"] %>@<%= @database["host"] %>:3306/<%= @database["name"] %>

# Environment
SHOPWARE_ENV="dev"

# Trustedproxies setting for e.g. using separate https proxy; use comma-separated IPs without spaces
TRUSTEDPROXIES=""

# Username and password for the initial admin account
# This info will be populated into the database during initial installation.
# After that, it can (and should) be removed from this .env file
ADMIN_EMAIL=admin@example.com
ADMIN_NAME="Admin"
ADMIN_USERNAME=admin
ADMIN_PASSWORD=shopware

# Shop URL for initial shop configuration
SHOP_URL=<%= @url %>

# Import demodata during initial shop installation
IMPORT_DEMODATA=n
INSTALL_IMAGES=n
