{
  "name": "die-lobby/new-shopware-project",
  "description": "Shopware project with composer",
  "type": "project",
  "license": "MIT",
  "authors": [
    {
      "name": "Paul Ilea",
      "email": "p.ilea@die-lobby.de"
    }
  ],
  "require": {
    "cweagans/composer-patches": "^1.6",
    "shopware/shopware": "<%= @shopware_version %>",
    "shopware/composer-project": "dev-master"
  },
  "autoload": {
    "classmap": [
      "app/Application.php",
      "app/AppKernel.php",
      "app/ShopwareVersion.php"
    ]
  },
  "extra": {
    "composer-exit-on-patch-failure": false,
    "enable-patching": true,
    "installer-paths": {
      "Plugins/Community/Backend/{$name}/": [
        "type:shopware-backend-plugin"
      ],
      "Plugins/Community/Core/{$name}/": [
        "type:shopware-core-plugin"
      ],
      "Plugins/Community/Frontend/{$name}/": [
        "type:shopware-frontend-plugin"
      ]
    }
  },
  "include-path": [
    "engine/Library/"
  ],
  "config": {
    "optimize-autoloader": true,
    "process-timeout": 0,
    "sort-packages": true
  },
  "scripts": {
    "post-install-cmd": [
      "./post.sh install"
    ],
    "post-update-cmd": [
      "./post.sh update"
    ],
    "pre-autoload-dump": [
      "./pre-autoload-dump.sh"
    ]
  },
  "require-dev": {
    "roave/security-advisories": "dev-master"
  },
  "repositories": [
  ]
}
