#!/bin/bash

if [ ! -z `which vagrant` > /dev/null ]
then
	echo -e "\033[0;32m Executing in vagrant ...\033[0m\n"
	vagrant status --machine-readable | grep state,running > /dev/null
	if [[ $? == 0 ]];
	then
    vagrant ssh -- "cd <%= @dev_root %> && ./bin/console $@"
  else
    echo -e "\e[31m Error: Vagrant machine not running!\e[0m\n"
	fi
else
	./bin/console $@
fi
