#!/usr/bin/env bash

if [ -z "$1" ]
then
  type="install"
else
  type="$1"
fi

if [ ! -z `which vagrant` > /dev/null ]
then
	echo -e "\033[0;32m Executing in vagrant ...\033[0m\n"
	vagrant status --machine-readable | grep state,running > /dev/null
	if [[ $? == 0 ]];
	then
		vagrant ssh -- "cd <%= @dev_root %> && ./app/bin/post-$type.sh"
	fi
else
	eval "./app/bin/post-$type.sh"
fi
