{
  "name": "<%= @hostname %>.cypress",
  "version": "1.0.0",
  "description": "Cypress testing configuration for <%= @hostname %>",
  "main": "index.js",
  "scripts": {
    "test": "npx cypress open"
  },
  "author": "",
  "license": "ISC",
  "devDependencies": {
    "cypress": "^4.5"
  }
}
