/// <reference types="cypress" />

context('Actions', () => {
  beforeEach(() => {
    cy.visit('https://<%= @hostname %>')
  })

  it('Does not do much!', () => {
    expect(true).to.equal(true)
  })
})
